version: '3'

networks:
  scc311coursework:

services:
  redis:
    container_name: redis
    image: redis:5.0.6
    restart: unless-stopped
    networks:
      - scc311coursework
    ports:
      - 6379:6379

  server:
    container_name: server
    image: harbor.scc.lancs.ac.uk/koturo/server:latest
    restart: unless-stopped
    depends_on: 
      - redis
    hostname: server:8080
    build:
      context: server
    networks:
      - scc311coursework
    ports:
      - 8080:8080

  load-balancer:
    container_name: load-balancer
    image: harbor.scc.lancs.ac.uk/koturo/load-balancer:latest
    restart: unless-stopped
    hostname: load-balancer:8080
    depends_on:
      - redis
    build:
      context: load-balancer
    networks:
      - scc311coursework
    ports:
      - 9090:8080