version: '3'

networks:
  scc311coursework:

services:
  redis:
    container_name: redis
    image: redis:5.0.6
    restart: unless-stopped
    networks:
      - scc311coursework
    ports:
      - 6379:6379

  server1:
    container_name: server1
    image: harbor.scc.lancs.ac.uk/koturo/server:latest
    restart: unless-stopped
    depends_on: 
      - redis
    hostname: server1:8080
    build:
      context: server
    networks:
      - scc311coursework
    ports:
      - 8081:8080

  server2:
    container_name: server2
    image: harbor.scc.lancs.ac.uk/koturo/server:latest
    restart: unless-stopped
    depends_on: 
      - redis
    hostname: server2:8080
    build:
      context: server
    networks:
      - scc311coursework
    ports:
      - 8082:8080

  server3:
    container_name: server3
    image: harbor.scc.lancs.ac.uk/koturo/server:latest
    restart: unless-stopped
    depends_on: 
      - redis
    hostname: server3:8080
    build:
      context: server
    networks:
      - scc311coursework
    ports:
      - 8083:8080

  load-balancer:
    container_name: load-balancer
    image: harbor.scc.lancs.ac.uk/koturo/load-balancer:latest
    restart: unless-stopped
    hostname: load-balancer:8080
    depends_on:
      - redis
    build:
      context: load-balancer
    networks:
      - scc311coursework
    ports:
      - 8080:8080