version: '3'

networks:
  scc311coursework:

services:
  redis:
    container_name: redis
    image: redis:5.0.6
    restart: unless-stopped
    networks:
      - scc311coursework
    ports:
      - 6379:6379

  load-balancer:
    container_name: load-balancer
    image: harbor.scc.lancs.ac.uk/koturo/load-balancer:latest
    restart: unless-stopped
    environment:
      - REDIS_URL=redis:6379
    build:
      context: load-balancer
    networks:
      - scc311coursework
    ports:
      - 8080:9090

  server1:
    container_name: server1
    image: harbor.scc.lancs.ac.uk/koturo/server:latest
    restart: unless-stopped
    environment:
      - REDIS_URL=redis:6379
    build:
      context: server
    networks:
      - scc311coursework
    ports:
      - 8081:8080
    links:
      - redis

  server2:
    container_name: server2
    image: harbor.scc.lancs.ac.uk/koturo/server:latest
    restart: unless-stopped
    build:
      context: server
    networks:
      - scc311coursework
    ports:
      - 8082:8080
    links:
      - redis